@use "sass:color";
@use "swiper/swiper.scss";

// Variables Globales
$color-principal: #ff6347; 
$color-secundario: #6c9b58;
$color-fondo: #f8f8f8;
$color-texto: white;
$color-enlace: #0078D7;
$color-hover: #000000;
$fuente-principal: Arial, sans-serif;

$btn-size: 40px;
$btn-color: rgba(255, 255, 255, 0.5);
$btn-hover-color: rgba(255, 255, 255, 0.8);
$icon-size: 20px;
$icon-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);

/*MIXINS*/

// Mixins para reutilización de código
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Mixin para sobra del texto
@mixin box-shadow($level) {
    box-shadow: 0 $level $level * 2 rgba(0, 0, 0, 0.1);
}

// Mixin para botones de navegación Swiper
@mixin swiper-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $btn-size;
    height: $btn-size;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $btn-color;
    color: rgb(0, 0, 0);
    font-size: $icon-size;
    cursor: pointer;
    z-index: 10;

    &:hover {
        background-color: $btn-hover-color;
    }
}

// Estilos generales
body {
    font-family: $fuente-principal;
    margin: 0;
    padding: 0;
    background-color: $color-fondo;
    text-align: center;
}

// Header y navegación
header {
    color: $color-hover;
    padding: 1rem;
    background-image: url('./optimized-img/large-foto-header.webp') ;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;

    div{
        background-color: rgba(255, 255, 255, 0.6); 
        width: 100%;
        padding: 1px;
        margin-bottom: 3%;
    }

    h1{
        font-size: 3rem;
    }

    nav ul {
        list-style: none;
        padding: 0;
        @include flex-center;

        li {
            margin: 0 15px;
            
            .cubiertos {
                position: absolute;
                left: -35px; 
                top: 60%; 
                opacity: 0;
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
            }
            
            a {
                color: $color-hover;
                text-decoration: none;
                font-weight: bold;
                transition: color 0.3s;
                font-size: 1.5rem;
                position: relative; 
                padding-right: 20px;

                &:hover {
                    color: $color-principal;
                }
                
                &:hover .cubiertos {
                    opacity: 1;
                    animation: aparecerCubiertos 1s ease-in-out forwards;
                }

                &:not(:hover) .cubiertos {
                    animation: desaparecerCubiertos 1s ease-in-out forwards;
                }

            }
        }
    }
}

// Portada
.portada {
    
    padding: 50px 20px;
    background-image: url('./optimized-img/large-foto-header.webp') ;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 20% 100%);
    background-attachment: fixed;

    div{
        background-color: rgba(255, 255, 255, 0.6); 
        padding: 10px; 
        width: 100%; 
        margin: 0 auto; 
        text-align: center; 
    }
    
}

// Footer
footer {
    background-color: $color-principal;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;

    p {
        margin: 5px 0;
        font-size: 1rem;
    }
}

// Detalle
.detalle {
    max-width: 1000px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    @include box-shadow(4px);
    overflow: hidden;
    padding: 20px;

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .imagen-detalle  {
        width: 100%;
        height: 600px; 
        object-fit: cover; 
        display: block;
    }

    .texto-detalle p {
        margin: 15px 0;
        line-height: 1.6;
        font-size: 1.2rem;
        color: #666;
    }

    .linea-divisoria {
        width: 100%;
        height: 2px;
        background-color: $color-secundario;
        margin: 30px 0;
        border-radius: 8px;
    }

    iframe {
        display: block;
        margin: 20px auto;
        width: 100%;
        max-width: 560px;
        height: 315px;
        border-radius: 8px;
        @include box-shadow(4px);
    }
}

// Enlaces
.enlaces {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    @include box-shadow(4px);

    h2 {
        font-size: 1.8rem;
        color: $color-enlace;
    }

    ul {
        list-style-type: none;
        padding-left: 20px;

        li {
            margin: 10px 0;

            a {
                text-decoration: none;
                color: $color-enlace;
                font-weight: bold;
                transition: color 0.3s;

                &:hover {
                    color: $color-hover;
                }
            }
        }
    }

    p {
        margin: 15px 0;
        line-height: 1.6;
        color: #666;
    }
}

// Categoría
#categorias-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
}

.categoria {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    @include box-shadow(4px);

    &:hover {
        transform: scale(1.05);
        @include box-shadow(6px);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    picture {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        border-bottom: 3px solid $color-principal;
    }

    h3 {
        margin: 15px;
        font-size: 1.5rem;
        text-align: center;
    }

    p {
        margin: 0 15px 15px;
        font-size: 1rem;
        text-align: center;
        color: #666;
    }
}

// Swiper Carrusel
.carrusel {
    max-width: 800px;
    margin: auto;
    position: relative;

    .swiper {
        height: 500px;
        overflow: hidden;
    }

    .swiper-slide {
        @include flex-center;
        flex-direction: column;
        text-align: center;
        height: auto;
        overflow: hidden;
        

        picture {
            flex: 1;
            width: 100%;
            height: 100%;
            max-height: 88%;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 10px;
            flex-shrink: 0;
            
        }

        h3 {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.5rem;
            color: white;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);

            a {
                text-decoration: none;
                color: inherit;
                font-weight: bold;
                padding: 5px;
                transition: background-color 0.3s, color 0.3s;
    
                &:hover {
                    color: $color-texto; 
                    background-color: $color-principal;
                    border-radius: 5px;
                }
            }
        }
        
    }

    //Botones de navegación carrusel
    .swiper-button-prev {
        @include swiper-btn;
        left: 10px;
    
        &::after {
            font-size: $icon-size;
            font-weight: bold;
            content: '←'; 
        }
    }
    
    .swiper-button-next {
        @include swiper-btn;
        right: 10px;
    
        &::after {
            font-size: $icon-size;
            font-weight: bold;
            content: '→'; 
        }
    }

    .swiper-button-prev {
        left: 10px;
    }
    
    .swiper-button-next {
        right: 10px;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 10px;
    }
}


/*KEYFRAMES*/

//Keyframe para aparecer cubiertos navegación
@keyframes aparecerCubiertos {
    0% { transform: translateY(-20%) scale(1) rotate(0deg); }
    100% { transform: translateY(-20%) scale(2) rotate(-360deg); }
}

//Keyframe para desaparecer cubiertos navegación
@keyframes desaparecerCubiertos {
    0% { transform: translateY(-20%) scale(2) rotate(-360deg); }
    100% { transform: translateY(-20%) scale(1) rotate(0deg); }
}


/*MEDIA QUERIES -> los estilos bases estan hechos para dispositivos grandes y de manera responsiva*/

//Media querie para dispositivos medianos
@media (max-width: 1024px) {
    header{
        background-image: url('./optimized-img/medium-foto-header.webp') ;
        h1{
            font-size: 2.5rem;
        }
        
    }

    .portada {
        background-image: url('./optimized-img/medium-foto-header.webp') ;
        p{
            width: 70%;
            margin: 0 auto; 
        }

        clip-path: polygon(0% 0%, 100% 0%, 85% 90%, 15% 90%);
    }

    .detalle .imagen-detalle picture {
        height: 400px; 
    }

}

//Media querie para dispositivos pequeños
@media (max-width: 600px) {
    header{
        background-image: url('./optimized-img/small-foto-header.webp') ;
        h1{
            font-size: 2rem;
        }
        
        nav ul li{
            margin: 0 1px;

            a{
                padding-right: 0px ;
                font-size: 1.3rem;
            }

        } 

    }

    .portada {
        background-image: url('./optimized-img/small-foto-header.webp') ;
        h2{
            width: 80%;
            margin: 0 auto; 
            margin-bottom: 10%;
        }

        p{
            width: 60%;
        }

        clip-path: polygon(0% 0%, 100% 0%, 75% 88%, 31% 88%);
    }

    .detalle .imagen-detalle picture {
        height: 30px; 
    }


}

